{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <style>
        .atm-title {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
    <div class="atm-title">About Us</div>
    <br/>
    <p style="text-align: center;">We can barely get this to work, your money is safe with us!</p>
    <br/>
    <div class="atm-title">Locations</div>
    <br/>
             <table class="table table-bordered">

                {% for locations in all_locations %}
                    <tr>
                        <td style="text-align: center;">{{ locations.location }}</td>

                    </tr>
                {% endfor %}
             </table>






{% endif %}
</body>
</html>
{% endblock %}