{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <style>
        .atm-title {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
 <div class="atm-title">Account Details</div>
<br/><br/>
{% if user.is_authenticated %}


        {% if user %}
             <table class="table table-bordered">
                    <tr>
                        <td><strong>Account Number</strong></td>
                        <td><strong>Username</strong></td>
                        <td><strong>Name</strong></td>
                        <td><strong>Phone Number</strong></td>
                    </tr>

                    <tr>
                        <td>{{ user.accountNumber }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.phoneNumber }}</td>
                    </tr>
            </table>

            <table class="table table-bordered">
                    <br/>

                    <tr>
                        <td><strong>Account Number</strong></td>
                        <td><strong><p>Card Number<p/></strong></td>
                        <td><strong><p>Pin<p/></strong></td>
                        <td><strong><p>Name<p/></strong></td>
                        <td><strong><p>Phone Number<p/></strong></td>
                    </tr>

                    <tr>
                        <td>{{ atmCard.accountNumber }}</td>
                        <td>{{ atmCard.atmCardNumber }}</td>
                        <td>{{ atmCard.pin }}</td>
                        <td>{{ atmCard.name }}</td>
                        <td>{{ atmCard.phoneNumber }}</td>
                    </tr>
            </table>

        {% endif %}




{% endif %}
</body>
</html>
{% endblock %}