{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <style>
        .atm-title {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
 <div class="atm-title">Account Details</div>
<br/><br/>
{% if user.is_authenticated %}

    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>

    <p>Address: {{ user.address }}</p>
    <p>City: {{ user.city }}</p>
    <p>State: {{ user.state }}</p>
    <p>Zip code: {{ user.zipCode }}</p>
    <p>Phone Number: {{ user.phoneNumber }}</p>
    <p>Account Number: {{ user.accountNumber }}</p>

    <br/>
    <p>Account Number: {{ accountNumber }}</p>
    <p>Current Card Number: {{ user.atmCard }}</p>
    <p>Current Card Holders Name: {{ user.conCatName }}</p>
    <p>Creation Date : {{ user.cardCreateDate }}</p>
    <p>Expiration Date: {{ user.cardExpirDate }}</p>
    <p>Card Holder Address: {{ user.conCatAddress }}</p>
    <p>Card Holder Phone Number: {{ user.cardPhone }}</p>
    <p>Card Status: {{ user.cardStatus }}</p>
    <p>Two Factor Auth: {{ user.card2Factor }}</p>




{% endif %}
</body>
</html>
{% endblock %}