{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Funds</title>

    <style>
        .atm-title {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="atm-title">Transfer Funds</div>
<br/><br/>
{% if user.is_authenticated %}

    <p>Beneficiary Account Number: {{ beneAccNumber }}</p>
    <p>Beneficiary Name: {{ beneName }}</p>
    <p>Amount Transferred: {{ amountTrans }}</p>

{% endif %}
</body>
</html>
{% endblock %}