{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Funds</title>

    <style>
        .atm-title {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="atm-title">Transfer Funds</div>
<br/><br/>
{% if user.is_authenticated %}

    <div class="col-md-6 offset-md-3">
        <form action="{% url 'transferFunds' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    </div>



    <p>Beneficiary Account Number: {{ beneAccNumber }}</p>
    <p>Beneficiary Name: {{ beneName }}</p>
    <p>Amount Transferred: {{ amountTrans }}</p>

{% endif %}
</body>
</html>
{% endblock %}