{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Withdraw Funds</title>

    <style>
        .atm-title {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="atm-title">Withdraw Funds</div>
<br/><br/>
{% if user.is_authenticated %}

    <p>Amount Transferred: {{ cashWithdrawalAmount }}</p>
    <p>Denomination: {{ cashWithdrawalDenom }}</p>
    <p>Current Balance: {{ cashWithdrawalBalance }}</p>

{% endif %}
</body>
</html>
{% endblock %}