{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Withdraw Funds</title>

    <style>
        .atm-title {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="atm-title">Withdraw Funds</div>

<div class="col-md-6 offset-md-3">
    <form action="{% url 'withdrawFunds' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
</div>
    {% if user.is_authenticated %}



    {% endif %}
</body>
</html>
{% endblock %}